@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
  --light-gray: rgb(204, 204, 204);
  --theme-main: white;
  --theme-text: black;
  --theme-text-mid: gray;
  --theme-text-invert: white;
  --theme-background: #F2F2F2;
  --theme-background-second: white;
  --popover-color: white;
  --new-list-color: red;
}

html, body, #app, main, #home, .page {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
}

body {
  /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('http://7-themes.com/data_images/collection/2/4440058-hd-wallpapers.jpg') no-repeat center 30% /cover; */
}

#app {
  /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2013&q=80') no-repeat center center /cover; */
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 50px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.199);
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 20px;
}